---
layout: default.hbs
subject: Typographic Email Kitchen Sink
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>

<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td class="reader-view">
            <h1>Inside the Eye: Nature’s Most Exquisite Creation</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam soluta eveniet recusandae. Voluptatem ratione repellat vero ullam, dolorem earum reiciendis eaque itaque nemo magni odit id minima, corporis et facere.</p>

            <img src="https://raw.githubusercontent.com/EmailThis/typographic-email/master/src/img/misty-mountains.jpg" alt="Misty Mountains"><p></p>
            
            <pre>
<strong>Preformated:</strong>Testing one row
and another</pre>

            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <ul>
              <li>This is a list item</li>
              <li>So is this - there could be more</li>
              <li>Make sure to style list items to:
                <ul>
                  <li>Not forgetting child list items</li>
                  <li>Not forgetting child list items</li>
                  <li>Not forgetting child list items</li>
                  <li>Not forgetting child list items</li>
                </ul></li>
                <li>A couple more</li>
                <li>top level list items</li>
              </ul>

              {{> divider }}
              
              <!-- BEGIN NOTICES -->
              <h2>Notices</h2>

              {{> notice type='info' text='Hello, this is a <strong>info</strong> notice.' }}
              {{> notice type='success' text='Hello, this is a <strong>success</strong> notice.' }}
              {{> notice type='warning' text='Hello, this is a <strong>warning</strong> notice.' }}
              {{> notice type='danger' text='Hello, this is a <strong>danger</strong> notice.' }}
              
              {{> divider }}
              
              <!-- BEGIN BUTTONS -->
              <h2>Buttons</h2>
              {{> button type='primary' url='https://github.com/leemunroe/grunt-email-workflow' title='Button (primary)' }}
              {{> button type='secondary' url='https://github.com/leemunroe/grunt-email-workflow' title='Button (secondary)' }}

              {{> divider }}

              <p>Don't forget <strong>Ordered lists</strong>:</p>
              <ol>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.
                  <ol>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                  </ol>
                </li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
              </ol>
              <h2>A sub heading which is not as important as the first, but is quite imporant overall</h2>
              <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
              </p>

              

              <h3>A sub heading which is not as important as the second, but should be used with consideration</h3>
              <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
              </p>

              <blockquote>
                <p><em>This is a properly formatted blockquote, btw.</em> Measuring programming progress by lines of code is like measuring aircraft building progress by weight.</p>
                <footer>
                  — <cite><a href="http://www.thegatesnotes.com">Bill Gates</a></cite>
                </footer>
              </blockquote>

              <h4>A sub heading which is not as important as the second, but should be used with consideration</h4>
              <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
              </p>
              <blockquote>
                <p>
                  “Ooh - a blockquote! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.”
                </p>
              </blockquote>



              <h5>A sub heading which is not as important as the second, but should be used with consideration</h5>
              <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
              </p>

              <dl>
                <dt>Definition list</dt>
                <dd>
                  Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </dd>
                <dt>Lorem ipsum dolor sit amet</dt>
                <dd>
                  Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </dd>
              </dl>

              <h6>This heading plays a relatively small bit part role, if you use it at all</h6>
              <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
              </p>
              <h1>
                Level 1 heading
              </h1>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h1 class="fancy">
                Level 1 heading class="fancy"
              </h1>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h1 class="thin">
                Level 1 heading class="thin"
              </h1>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h1 class="caps">
                Level 1 heading class="caps"
              </h1>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h2>
                Level 02 Heading
              </h2>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h2 class="fancy">
                Level 2 heading class="fancy"
              </h2>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h2 class="thin">
                Level 2 heading class="thin"
              </h2>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h2 class="caps">
                Level 2 heading class="caps"
              </h2>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h3>
                Level 03 Heading
              </h3>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h3 class="fancy">
                Level 3 heading class="fancy"
              </h3>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h3 class="thin">
                Level 3 heading class="thin"
              </h3>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h3 class="caps">
                Level 3 heading class="caps"
              </h3>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h4>
                Level 04 Heading
              </h4>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h4 class="fancy">
                Level 4 heading class="fancy"
              </h4>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h4 class="thin">
                Level 4 heading class="thin"
              </h4>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h4 class="caps">
                Level 4 heading class="caps"
              </h4>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h5>
                Level 05 Heading
              </h5>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h5 class="fancy">
                Level 5 heading class="fancy"
              </h5>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h5 class="thin">
                Level 5 heading class="thin"
              </h5>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h5 class="caps">
                Level 5 heading class="caps"
              </h5>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h6>
                Level 06 Heading
              </h6>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h6 class="fancy">
                Level 6 heading class="fancy"
              </h6>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h6 class="thin">
                Level 6 heading class="thin"
              </h6>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <h6 class="caps">
                Level 6 heading class="caps"
              </h6>
              <p>
                Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
              </p>
              <blockquote>
                <p>
                  Paragraph inside Blockquote: Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Sed scelerisque sagittis lorem.
                </p>
              </blockquote>
              <address>
                Address: Example address 224, Sweden
              </address>

              <p>
                I am <a href="?abc123">the a tag</a> example<br>
                I am <abbr title="test">the abbr tag</abbr> example<br>
                I am <acronym>the acronym tag</acronym> example<br>
                I am <b>the b tag</b> example<br>
                I am <big>the big tag</big> example<br>
                I am <cite>the cite tag</cite> example<br>
                I am <code>the code tag</code> example<br>
                I am <del>the del tag</del> example<br>
                I am <dfn>the dfn tag</dfn> example<br>
                I am <em>the em tag</em> example<br>
                I am <i>the i tag</i> example<br>
                I am <ins>the ins tag</ins> example<br>
                I am <kbd>the kbd tag</kbd> example<br>
                I am <q>the q tag</q> example<br>
                I am <samp>the samp tag</samp> example<br>
                I am <small>the small tag</small> example<br>
                I am <span>the span tag</span> example<br>
                I am <strong>the strong tag</strong> example<br>
                I am <sub>the sub tag</sub> example<br>
                I am <sup>the sup tag</sup> example<br>
                I am <tt>the tt tag</tt> example<br>
                I am <var>the var tag</var> example<br>
                I am the <span class="small">small class</span> example<br>
                I am the <span class="large">large class</span> example<br>
                I am the <span class="quiet">quiet class</span> example<br>
                I am the <span class="highlight">highlight class</span> example<br>
              </p>

              <hr>

              <ul>
                <li>Unordered list 01</li>
                <li>Unordered list 02</li>
                <li>Unordered list 03
                  <ul>
                    <li>Unordered list inside list level 2</li>
                    <li>Unordered list inside list level 2
                      <ul>
                        <li>Unordered list inside list level 3</li>
                        <li>Unordered list inside list level 3</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
              <ol>
                <li>Ordered list 01</li>
                <li>Ordered list 02</li>
                <li>Ordered list 03
                  <ol>
                    <li>Ordered list inside list level 2</li>
                    <li>Ordered list inside list level 2
                      <ol>
                        <li>Ordered list inside list level 3</li>
                        <li>Ordered list inside list level 3</li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>

              <dl>
                <dt>
                  Description list title 01
                </dt>
                <dd>
                  Description list description 01
                </dd>
                <dt>
                  Description list title 02
                </dt>
                <dd>
                  Description list description 02
                </dd>
                <dd>
                  Description list description 03
                </dd>
              </dl>


              I am <a href="something.doc">a word document</a> link, so readers know that I'm not a normal link.<br>
              I am <a href="something.pdf">a pdf document</a> link, so readers know that I'm not a normal link.<br>
              I am <a href="http://www.something.com">an external website</a> link, so readers know that I'm not a normal link.<br>
              I am <a href="something.rss">an rss feed</a> link, so readers know that I'm not a normal link.<br>
              I am <a href="something.xls">an excel spreadsheet</a> link, so readers know that I'm not a normal link.<br>
              I am <a href="aim:something">an AIM screenname</a> link, so readers know that I'm not a normal link.<br>
              I am <a href="mailto:something">an email address</a> link, so readers know that I'm not a normal link.<br>
              I am <a href="http://yourwebsite.com">an internal link</a>. Change the stylesheet's "http://yourwebsite.com" to your domain name so I don't look like an external link.<br>

              <br>

              <hr>

              <p class="success">
                <img src="https://raw.githubusercontent.com/ericrasch/html-kitchen-sink/master/web/assets/img/icons/tick.png" alt=""> This is a paragraph with class="success" and <a href="http://www.something.com">a link</a>.
              </p>
              <p class="error">
                <img src="https://raw.githubusercontent.com/ericrasch/html-kitchen-sink/master/web/assets/img/icons/cross.png" alt=""> This is a paragraph with class="error" and <a href="http://www.something.com">a link</a>.
              </p>
              <p class="notice">
                <img src="https://raw.githubusercontent.com/ericrasch/html-kitchen-sink/master/web/assets/img/icons/information.png" alt=""> This is a paragraph with class="notice" and <a href="http://www.something.com">a link</a>.
              </p>
            </td><!-- content -->
          </tr>
        </table>
      </td>
    </tr>
  </table>
  
  <div class="footer">
    <table>
      <tr>
        <td class="align-center">
          <p>
            <a href="https://emailthis.io">EmailThis</a> - Send web pages & articles to your email inbox.
          </p>
        </td>
      </tr>
    </table>
  </div>
